<div class="app-container">
  <h1 class="title">Movie Search Task</h1>
  <div class="search-container">
    <div class="search-box">
      <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="query" (keyup)="search()">
      <button *ngIf="query.length>1" class="icon-btn clear-btn" (click)="clear()">
        &times;
      </button>
    </div>
  </div>
  <p class="loading" *ngIf="isLoading; else elseBlock">Loading</p>
  <ng-template #elseBlock>
    <div class="movie">
      <div class="movie-card" *ngFor="let movie of moviesList">
        <img [src]="movie.Poster" class="movie-poster" [alt]="movie.Title">
        <div class="movie-title">{{movie.Title}}</div>
        <div class="movie-details">
          <div class="movie-type">{{movie.Type | titlecase }}</div>
          <div class="movie-year">IMDB: {{movie.imdbID | uppercase}}</div>
          <div class="movie-year">{{movie.Year}}</div>
        </div>
      </div>
      <h4 *ngIf="noData">No data found</h4>
    </div>
  </ng-template>
</div>